<h4>Listado</h4>
  <ul class="list-group">
      <li
      *ngFor="
      let character of characterList;
      let i = index;
      let isFirst = first;
      let isLast = last;
      let isEven = even;
      let isOdd = odd;
      "


      class="list-group-item d-flex justify-content-between align-items-center"
      [ngClass]="{
        'list-group-item-dark': isLast,
        'list-group-item-primary': isEven,
      }">
      <div>
        <span class="text-primary"> {{ character.id}}. </span>
        <span>{{ character.name }} - </span>
        <strong>Power: </strong>
        <span>{{ character.power }}</span>
      </div>

      <!-- <span>Es par: {{ isEven }}</span>
      <span>Es Impar: {{ isOdd }}</span> -->

      <button (click)="onDeleteCharacter(character.id || '')" class="btn btn-danger">X</button>

    </li>
  </ul>
